# FreePascal compiler output
*.o
*.a
*.ppu
*.rst
*.compiled
*.dbg
heaptrc.txt

# Build and binary output
build/
bin/

# Vendor directory (populate with: make vendor-get)
vendor/

# Editor backup files
*.~*
*~
*.bak

# Lazarus IDE files (if used)
*.lps
*.lpi
*.res
